//Breakpoints
$breakpoint-sm: '480px';
$breakpoint-md: '768px';
$breakpoint-lg: '1024px';

//Typography
$font-family-base: 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-weight-normal: 400;
$font-weight-bold: 700;

//Font-Sizes
$font-size-sm: 0.5rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 4rem;

//Variants
$primary-color: #007bff;
$light-color: #f8f9fa;
$black: #605e5e;
$white: #fff;
$gray: #e0e0e0;
$gray2: #c9d1d3;
$gray3: #292727;
$red: #e63946;

//Borders
$border-radius: 8px;

//Paddings
$sm-padding: 1rem;
$md-padding: 2rem;
$lg-padding: 3rem;
$xl-padding: 4rem;

//Differentiations
$horror-color: #ca2727;
$animation-color: #e117ab;
$drama-color: #67aacf;
